*{
    margin:0px;
    box-sizing: border-box;
    padding:0px;
}

body{
    background-color: rgb(50, 49, 49);
    color:white;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.search-container{
    display: flex;
    align-items: center;
    
}

#crops-inputbox{
    padding:10px;
    margin-left: 20px;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    animation: glow 2s linear infinite;
}

#location-inputbox{
    padding:10px;
    margin-left: 20px;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    animation: glow 2s linear infinite;
}

#search-btn{
    height: 50px;
    background-color: black;
    color:white;
    font-size: 20px;
    width: 150px;
    border-radius: 12px;
    margin-left: 20px;  
    padding: 10px;
}

.result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}

@keyframes glow {
  0%   { box-shadow: 0 0 5px #00f, 0 0 10px #00f; }
  25%  { box-shadow: 0 0 5px #0ff, 0 0 10px #0ff; }
  50%  { box-shadow: 0 0 5px #0f0, 0 0 10px #0f0; }
  75%  { box-shadow: 0 0 5px #ff0, 0 0 10px #ff0; }
  100% { box-shadow: 0 0 5px #00f, 0 0 10px #00f; }
}